@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');


.dashboard h1{
    color:black;
    text-align: center;
    display:flex;
}
.header {
background-color: rgba(51, 211, 81, 0.843);
width: 100vw;
height: 80px;
display: flex;
flex-direction: row;
gap: 3vh;
font-family: 'Rajdhani';
justify-content: right;
padding-right: 10vh;
}

.header h1 {
    padding-top: 25px;
    color: black;
    font-size: 24px;
}

.exit{
    
    cursor: pointer;
}

.exit:hover{
     transform: translateY(-3px);
}