.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-content {
  width: 40vw;
}

.modal-box {
  background: #ffffff;
  color: #2A2A2A;
  width: 25vw;
  border-radius: 8px;
  padding: 25px;
  text-align: center;
  animation: fadeIn 0.3s ease;
}

.modal-box h2 {
  margin-bottom: 10px;
}

.modal-box p {
  margin-bottom: 20px;
}

.modal-error {
  border-left: 6px solid #E45454;
}

.modal-success {
  border-left: 6px solid #36C986;
}

.modal-warning {
  border-left: 6px solid #F7C948;
}

.modal-box button {
  padding: 8px 22px;
  border: none;
  background: #2a2a2a;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}
