@media screen and (max-width: 768px) {
  /* ----- CONTAINER PRINCIPAL ----- */
  .sidebar {
    height: 100vh;
    width: 15vw;
    background-color: #2A2A2A; /* Cor oficial da identidade IdentyFlow */
    color: white;
    top: 0;
    left: 0;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    transition: width 0.3s ease;
    overflow: hidden;
    font-family: 'Inter';
  }

  .sidebar.open {
    width: 20vh;
  }

  /* ----- HEADER DO SIDEBAR ----- */
  .sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 2vh;
  }

  /* Logo area */
  .logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
    filter: drop-shadow(3px 2px 0px #000000);
  }

  .logo-img {
    width: 6vw;
    height: auto;
    cursor: pointer;
    transition: all 0.5s ease;

  }

  .logo-text {
    font-family: 'Inter';
    font-size: 1.1rem;
    opacity: 0;
    animation: fadeIn 0.3s forwards;
  }

  /* Botão de alternância */
  .menu-btn {
    cursor: pointer;
  }

  /* ----- MENU ----- */
  .sidebar-menu {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding: 0.8vh;
  }

  .menu-item {
    display: flex;
    align-items: center;
    gap: 15px;

    padding: 2vh 1vh;
    cursor: pointer;
    transition: background 0.2s ease;
  }

  .menu-item:hover {
    background-color: #2d3a62;
  }

  .item-text {
    font-size: 14px;
    opacity: 0;
    animation: fadeIn 0.3s forwards;
  }

  /* ----- ANIMAÇÃO ----- */
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
}

@media screen and (min-width: 769px) and (max-width: 1367px) {
    /* ----- CONTAINER PRINCIPAL ----- */
  .sidebar {
    height: 100vh;
    width: 10vh;
    background-color: #2A2A2A; /* Cor oficial da identidade IdentyFlow */
    color: white;
    top: 0;
    left: 0;
    display: flex;
    position: fixed;
    flex-direction: column;
    transition: width 0.3s ease;
    overflow: hidden;
    font-family: 'Inter';
  }

  .sidebar.open {
    width: 25vh;
  }

  /* ----- HEADER DO SIDEBAR ----- */
  .sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 2vh;
  }

  /* Logo area */
  .logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .logo-img {
    width: 35px;
    height: auto;
    cursor: pointer;
    transition: all 0.5s ease;
    filter: drop-shadow(3px 2px 0px #000000);
  }

  .logo-img:hover {
    transform: scale(1.05);
  }

  .logo-text {
    font-size: 18px;
    font-weight: 600;
    opacity: 0;
    animation: fadeIn 0.3s forwards;
  }

  /* Botão de alternância */
  .menu-btn {
    cursor: pointer;
  }

  /* ----- MENU ----- */
  .sidebar-menu {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding: 0.8vh;
  }

  .menu-item {
    display: flex;
    align-items: center;
    gap: 15px;

    padding: 15px 20px;
    cursor: pointer;
    transition: background 0.2s ease;
  }

  .menu-item:hover {
    background-color: #2d3a62;
  }

  .item-text {
    font-size: 14px;
    opacity: 0;
    animation: fadeIn 0.3s forwards;
  }

  .nav-footer {
    display: flex;
    position: relative;
    padding: 1vh;
    justify-content: center;
  }

  #footer-logo {
    width: 50px;
    height: auto;
    margin: 0 auto;
    transition: all 0.5s ease;
  }

  #footer-logo:hover {
    transform: translateY(-1vh);
  }

  .nav-footer h3 {
    font-family: 'Inter', sans-serif;
    font-size: 8px;
    margin-top: -0.5vh;
  }

  /* ----- ANIMAÇÃO ----- */
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
}

@media screen and (min-width: 1368px) and (max-width: 1920px) {
    /* ----- CONTAINER PRINCIPAL ----- */
  .sidebar {
    height: 100vh;
    width: 10vh;
    background-color: #2A2A2A; /* Cor oficial da identidade IdentyFlow */
    color: white;
    top: 0;
    left: 0;
    display: flex;
    position: fixed;
    flex-direction: column;
    transition: width 0.3s ease;
    overflow: hidden;
    font-family: 'Inter';
  }

  .sidebar.open {
    width: 25vh;
  }

  /* ----- HEADER DO SIDEBAR ----- */
  .sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 2vh;
  }

  /* Logo area */
  .logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .logo-img {
    width: 35px;
    height: auto;
    cursor: pointer;
    transition: all 0.5s ease;
    filter: drop-shadow(3px 2px 0px #000000);
  }

  .logo-img:hover {
    transform: scale(1.05);
  }

  .logo-text {
    font-size: 18px;
    font-weight: 600;
    opacity: 0;
    animation: fadeIn 0.3s forwards;
  }

  /* Botão de alternância */
  .menu-btn {
    cursor: pointer;
  }

  /* ----- MENU ----- */
  .sidebar-menu {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding: 0.8vh;
  }

  .menu-item {
    display: flex;
    align-items: center;
    gap: 15px;

    padding: 15px 20px;
    cursor: pointer;
    transition: background 0.2s ease;
  }

  .menu-item:hover {
    background-color: #2d3a62;
  }

  .item-text {
    font-size: 14px;
    opacity: 0;
    animation: fadeIn 0.3s forwards;
  }

  .nav-footer {
    display: flex;
    position: relative;
    padding: 1vh;
    justify-content: center;
  }

  #footer-logo {
    width: 50px;
    height: auto;
    margin: 0 auto;
    transition: all 0.5s ease;
  }

  #footer-logo:hover {
    transform: translateY(-1vh);
  }

  .nav-footer h3 {
    font-family: 'Inter', sans-serif;
    font-size: 8px;
    margin-top: -0.5vh;
  }

  /* ----- ANIMAÇÃO ----- */
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
}

@media screen and (min-width: 1921px) and (max-width: 2460px) {
  
  /* ----- CONTAINER PRINCIPAL ----- */
  .sidebar {
    height: 100vh;
    width: 10vh;
    background-color: #2A2A2A; /* Cor oficial da identidade IdentyFlow */
    color: white;
    top: 0;
    left: 0;
    display: flex;
    position: fixed;
    flex-direction: column;
    transition: width 0.3s ease;
    overflow: hidden;
    font-family: 'Inter';
  }

  .sidebar.open {
    width: 25vh;
  }

  /* ----- HEADER DO SIDEBAR ----- */
  .sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 2vh;
  }

  /* Logo area */
  .logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .logo-img {
    width: 35px;
    height: auto;
    cursor: pointer;
    transition: all 0.5s ease;
    filter: drop-shadow(3px 2px 0px #000000);
  }

  .logo-img:hover {
    transform: scale(1.05);
  }

  .logo-text {
    font-size: 18px;
    font-weight: 600;
    opacity: 0;
    animation: fadeIn 0.3s forwards;
  }

  /* Botão de alternância */
  .menu-btn {
    cursor: pointer;
  }

  /* ----- MENU ----- */
  .sidebar-menu {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding: 0.8vh;
  }

  .menu-item {
    display: flex;
    align-items: center;
    gap: 15px;

    padding: 15px 20px;
    cursor: pointer;
    transition: background 0.2s ease;
  }

  .menu-item:hover {
    background-color: #2d3a62;
  }

  .item-text {
    font-size: 14px;
    opacity: 0;
    animation: fadeIn 0.3s forwards;
  }

  .nav-footer {
    display: flex;
    position: relative;
    padding: 1vh;
    justify-content: center;
  }

  #footer-logo {
    width: 50px;
    height: auto;
    margin: 0 auto;
    transition: all 0.5s ease;
  }

  #footer-logo:hover {
    transform: translateY(-1vh);
  }

  .nav-footer h3 {
    font-family: 'Inter', sans-serif;
    font-size: 8px;
    margin-top: -0.5vh;
  }

  /* ----- ANIMAÇÃO ----- */
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
}