.registerContainer {
    width: 60vw;
    height: 30vw;
    border: 1px solid white;
    border-radius: 15px;
    align-items: center;
    margin: 0 auto;
    align-content: center;
    box-shadow: 1px 1px 2px white;
    transition: all 0.2s ease;
}

.registerContainer:hover {
    box-shadow: 1px 1px 15px white;
}

.registerContainer h1 {
    align-self: center;
    justify-self: center;
}