@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap');

body {
    background: radial-gradient(circle at 50% 50%, #1e211ed4,#060d57),
    radial-gradient(circle at 50% 60%, #fdfbfbd4,#e9eaec), transparent 20%;
    text-align: center;
    color: white;
    margin: 0 auto; 
    align-items: center;
    justify-content: center;
    display: flex; /*&*/
    font-family: Arial, Helvetica, sans-serif;
}

.login {
    background-image: url('logo.png');
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    text-align: center;
    align-items: center;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 15px;
    border: 6px solid rgba(14, 14, 14, 0.495);
    width: 35vw;
    height: 48vh;
    backdrop-filter: blur(10px) saturate(140%);
    overflow: hidden; 
}

.login::before{
    content: "";
    position: relative ;
    inset: 0;
    background-image: url('logo.png');
    background-size: cover;
    background-position: center;
    opacity: 0.0;
    transition: opacity 0.5s ease;
    z-index: 0;
}
.login:hover::before{
  opacity: 1;
}

input {
  z-index: 2;
  text-align: center;
  width: 40%;
  border: 4px solid rgba(98, 46, 109, 0.255);
  border-radius: 12px;
  background: rgba(244, 243, 246, 0.93);
  color: rgb(18, 18, 18);
  padding: 12px 15px;
  margin: 12px 0;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;

}

#send-btn{
  position: relative;
  color:white;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 1px;
  width: 6rem;
  height: 2rem;
  border-radius: 15px;
  border: 1px solid #9b5de5;
  background: linear-gradient(90deg, #6a00f4, #9b5de5);
}